In [41]:
import pandas as pd
import matplotlib.pyplot as plt
import glob
import os

folder_path = '../../data/raw'

csv_files = glob.glob(os.path.join(folder_path, '*.csv'))
df = pd.concat([pd.read_csv(file) for file in csv_files], ignore_index=True)

In [43]:
df = df.drop(columns=['Unnamed: 0'])
df.head()

,pub_date,title,lead,section,keywords
0,2023-01-01T00:05:59+0000,How Do You Think About the Question of When Li...,In the months since the Supreme Court overturn...,U.S.,"['Abortion', 'internal-open-access']"
1,2023-01-01T00:15:57+0000,When Does Life Begin?,The question is at the heart of the human expe...,U.S.,"['Pregnancy and Childbirth', 'Embryos (Human)'..."
2,2023-01-01T01:27:54+0000,T.C.U. Upends Michigan in Wild Playoff Semifinal,"GLENDALE, Ariz. — Sonny Dykes is not the ideal...",Sports,"['Football (College)', 'Big 12 Conference', 'B..."
3,2023-01-01T04:00:10+0000,"In Bucha, a Final Rampage Served as a Coda to ...","BUCHA, Ukraine — On one of the last nights of ...",World,"['Bucha (Ukraine)', 'War Crimes, Genocide and ..."
4,2023-01-01T05:06:06+0000,Georgia Downs Ohio State in Semifinal on Last-...,ATLANTA — The Georgia Bulldogs appeared very n...,Sports,"['Football (College)', 'College Football Playo..."

In [44]:
df['section'].unique()

array(['U.S.', 'Sports', 'World', 'Opinion', 'Corrections',
       'Crosswords & Games', 'Style', 'New York', 'Business Day',
       'The Upshot', 'Books', 'Your Money', 'Science', 'Technology',
       'Arts', 'Headway', 'Briefing', 'Movies', 'Obituaries', 'Food',
       'Climate', 'Well', 'Magazine', 'Real Estate', 'Travel',
       'Times Insider', 'The Learning Network', 'Health', 'Podcasts',
       'Theater', 'T Brand', 'Lens', 'T Magazine', 'Smarter Living',
       'en Español', 'Reader Center', 'Fashion & Style',
       'International Home', 'Video', 'Special Series', nan,
       'The New York Times Presents', 'Education', 'Admin',
       'Multimedia/Photos', 'Job Market', 'Book Review', 'Guide',
       'Automobiles', 'Homepage', 'Today’s Paper', 'Weather', 'Parenting',
       'Polls'], dtype=object)

In [45]:
# pick real news sections

real_news_sections = [
    'World',
    'Sports',
    'Style',
    'New York',
    'Business Day',
    'Books',
    'Science',
    'Technology',
    'Arts',
    'Movies',
    'Obituaries',
    'Food',
    'Climate',
    'Well',
    'Magazine',
    'Real Estate',
    'Travel',
    'Health',
    'Theater',
    'Education',
    'Book Review',
    'Automobiles',
    'International Home'
]

df = df[df['section'].isin(real_news_sections)]
df['section'].unique()

array(['Sports', 'World', 'Style', 'New York', 'Business Day', 'Books',
       'Science', 'Technology', 'Arts', 'Movies', 'Obituaries', 'Food',
       'Climate', 'Well', 'Magazine', 'Real Estate', 'Travel', 'Health',
       'Theater', 'International Home', 'Education', 'Book Review',
       'Automobiles'], dtype=object)

In [46]:
df.shape

(63439, 5)

In [47]:
df.to_csv('../../data/processed/news.csv', index=False)

In [49]:
df.describe()

,pub_date,title,lead,section,keywords
count,63439,63439,63427,63439,63439
unique,60777,62300,61977,23,59694
top,2023-08-05T09:01:26+0000,5 Things to Do This Weekend,"Welcome to Best of Late Night, a rundown of th...",World,"['Cooking and Cookbooks', 'Content Type: Servi..."
freq,7,93,343,14210,656